@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  .h-custom {
    height: calc(100% - 80px);
  }
}

@layer components {
  .btn-blue {
    @apply bg-primary text-white py-2 px-7 rounded transition;
  }

  .input {
    @apply rounded-md py-2 px-3 outline-0
  }
}

#__next {
  width: 100% !important;
  height: 100% !important;
}
